.btn-primary{
    background-color: #1da1f2 !important;
    border: none !important;
}

.btn-primary:hover{
    background-color: #1b77b1 !important;
    border: none !important;
}

.btn-light{
    background-color: #ffffff !important;
    border: none !important;
}

.btn-light:hover{
    background-color: #c4c3c3 !important;
    border: none !important;
}