@import "~bootstrap/scss/bootstrap";
@import "./button";

body {
    margin: 0;
    font-family: sans-serif;
}

textarea, textarea:focus, textarea:hover {
    border: none;
    overflow: auto;
    outline: none;
    // -webkit-box-shadow: none;
    // -moz-box-shadow: none;
    // box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
}

body > #root > div {
    height: 100vh;
}

.card {
    border-radius: 0;
}

.text-bg-light{
    color: white;
}

.feed {
    border-left: 1px solid #e6ecf0;
    border-right: 1px solid #e6ecf0;
    min-width: fit-content;
    overflow-y: scroll;
}

#feed {
    margin-bottom: 60px !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.feed::-webkit-scrollbar {
    display: none;
}

.feed {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
}

.card {
    border-right: none !important;
    border-left: none !important;
    border-top: none !important;
    outline: none !important;
}

.small-screen-logo {
    border-left: 1px solid #e6ecf0;
    border-right: 1px solid #e6ecf0;
}

.footer-nav {
    height: 60px !important;
}