@import "~bootstrap/scss/bootstrap";
@import "./button";

textarea, textarea:focus, textarea:hover {
    // border: none;
    overflow: auto;
    // outline: none;

    // -webkit-box-shadow: none;
    // -moz-box-shadow: none;
    // box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
}

body > #root > div {
    height: 100vh;
}

.card {
    border-radius: 0;
}